{% extends "WebDealerBundle::template.html.twig" %}

{% block title %} Услуги {% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
<div id="content" class="cols-sm-12">
    <div class="container">
        <h2>Компания <a href="/">Web Dealer</a> оказывает следующие услуги:</h2>
        <ul>
            <li>создание и доработка сайтов разной сложности (от сайтов-визиток, лендингов до социальных сетей и сложных Web-сервисов);</li>
            <li>разрабатываем браузерные и мобильные версии сайтов, мобильные приложения и приложения для социальных сетей;</li>
            <li>созданием уникального графического дизайна / редизайн (сайтов и полиграфической продукции, фирменного стиля),
                а также предоставляем услуги 3D моделирования и анимации с помощью технологий 3D и flash;</li>
            <li>полной SEO оптимизацией, от создания карты сайта, ЧПУ до хеширования данных. Работаем с биржами ссылок, контекстной рекламой Google, Yandex;</li>
            <li>написанием уникального контента, с использованием новейших версий Advego и написание технической документации;</li>
            <li>наполнением сайтов, удалением вирусов, предоставлением услуг хостинга;</li>
            <li>всеми видами Интернет-маркетинга.</li>
        </ul>
        <h3>Используем современные технологии:</h3>
        <p>HTML5, CSS3, PHP, JS, AJAX. Jquery, MySQL, PHP.</p>
        <h3>Проводим имплементацию с системами управления контентом для сайтов:</h3>
        <p>WordPress, Joomla, Droopal, ModX, OpenCart, Presta Shop.</p>
        <h3>Вся вёрстка кроссбраузерна, соответствует стандартам W3C.</h3>
    </div>
</div>
{% endblock %}