{% extends "WebDealerBundle::Admin/admin_template.html.twig" %}

{% block title %} Панель администратора {% endblock %}

{% block content %}
<div id="content">
    <h1 class="text-center">Добро пожаловать в панель администратора!</h1>
</div>
{% endblock %}