{% extends "WebDealerBundle::template.html.twig" %}

{% block title %} Страница не найдена - 404 {% endblock %}

{% block content %}
<div id="content" class=" col-sm-12">
    <h1 class="text-center"><i class="fa fa-exclamation-triangle"></i> Ошибка 404</h1>
    <h2 class="text-center">Страница не найдена.</h2>
    <h4 class="text-center"><i class="fa fa-envelope-o"></i> Помогите исправить ошибку, <a href="milto:info@yurasik.ml">сообщите пожалуйста нам!</a></h4>
</div>
{% endblock %}