{% extends "WebDealerBundle::template.html.twig" %}

{% block title %} Регистрация {% endblock %}

{% block content %}
<div id="content" class="col-sm-12">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3  users-form-box">
            <form action="" class="navbar-form" method="post">
                <h4>Регстрация пользователя:</h4>
                <label for="email">Email:</label>
                <p><input type="email" class="form-control" name="email" value=""/></p>
                <label for="password">Password:</label>
                <p><input type="password" class="form-control" name="password"/></p>
                <button type="submit" name="register" class="btn btn-success pull-right">
                    <i class="fa fa-user-plus"></i> <b>Зарегестрироваться</b>
                </button>
                <div class="clear"></div>
                <a href="login" class="pull-right">
                    <i class="fa fa-sign-in"></i>
                    Войти
                </a>
                <div class="clear"></div>
                <p id="login_info">
                    {#{{ message }}#}
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}